* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Figtree';
    src: url('./fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('./fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 56px;
    margin: 100px 0;

}

main {
    flex: 1;
    background-color: #06171E;
}



/* header */
.HeaderMain {
    background-color: #09212A;
    width: 100%;
    padding: 18px;
}

.HeaderLogo {
    width: 250px;
    height: 50px;
}

.HeaderInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section album */


.PhotosBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.PhotoAlbumImage {
    width: 150px;
    height: 150px;
    margin: 20px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.PhotoAlbumImage:hover {
    transform: scale(1.05) rotate(1.5deg) translateX(6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

/* dialog */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}
.DialogCloseIcon {
    display: flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

.DialogCloseIcon:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 20px rgba(255, 248, 248, 0.8),
        0 0 40px rgba(255, 246, 246, 0.6);
}

.DialogMainImage {
    width: 500px;
    height: 500px;
    padding: 20px;
    object-fit: cover;
}

.DialogAlbum {
    background-color: #06171E;
    border: none;
    padding: 0;
    border-radius: 16px;
    width: 600px;
    height: 620px;
    margin: auto;

}

.DialogAlbum main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.DialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 70px;
}

.DialogFooter {
    gap: 20px;

}

.CurrentImageNumber {
    color: white;
}
.NavigationBarImage{
    width: 50px;
    height: 50px;
        transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}
.NavigationBarImage:hover{
        transform: scale(1.05);
    box-shadow:
        0 0 20px rgba(243, 243, 243, 0.8),
        0 0 40px rgba(255, 255, 255, 0.6);
}
/* contentlimitation */
.ContentWrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* footer */
.SiteFooter {
    background-color: #09212A;
    min-height: 100px;
    background-size: cover;
    width: 100%;
}

.FooterInner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/* responsive */
@media (max-width : 765px){
    h1{
       font-size: 48px;
       margin: 75px 0;
    }
}
@media (max-width : 660px){
    h1{
       font-size: 40px;
       margin: 50px 0;
    }

}
@media (max-width : 555px){
    h1{
       font-size: 32px; 
       margin: 25px 0;
    }
    .HeaderLogo {
    width: 200px;
    height: 40px;
}
}
@media (max-width : 450px){
    h1{
       font-size: 26px;
       margin-bottom: 10px;
    }
}
@media (max-width : 370px){
    h1{
       font-size: 22px; 
    }
}